.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#username-login, #password-login{
  width: 400px;
  margin-top: 10px;
  margin-left: 770px;
}

#username-h3{
  margin-top: 150px;
}

#password-h3{
  margin-top: 20px;
}

#login-dugme{
  width: 200px;
  margin-top: 30px;
}

#tableispiti{
  width: 700px;
  margin-left: 550px;
  margin-top: 50px;
}

#naslovjun{
  margin-top: 60px;
}

#tableprijavljeni{
  width: 700px;
  margin-left: 550px;
}